/* styles for all navbars */
*{
  font-family: 'DM Sans', sans-serif;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: 900;
  font-size: larger;
}

.navbar li a:hover {
  color: #1c5f35;
}
/* styling for the website heading */
.navbar li .heading {
  color: black;
  margin: 0;
  padding: 5px 10px;
  font-size: 54px;

}
.subheading{
  font-weight: bold;
  font-size: large;
  margin-left: 12%;
  color: rgb(92, 89, 89);
}
/* home page image */

.big-image {
  width: 90%;
  height: 670px;
  overflow: hidden;
  margin: auto;
}

.big-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -90px;
 
}
/* styling for the text on the image */
.image-text {
  position: absolute;
  top: 140px;
  left: 90px;
  color: white;
  
  
}
.image-text h1{
  font-size: 75px;
  letter-spacing: 6px;
}
.image-text h2{
  font-size: 55px;
  color: red;
  letter-spacing: 6px;
  margin-left: 40px;
}
.image-text h2:hover{
  color: aqua;
}
.image-text h3 {
  margin: 5px 0;
  font-size: 26px;
  color: white;
  font-weight: 600;
  line-height: 28px;
  margin-left: 40px;
 
}
/* our products page */


.btn input[type="button"] {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 29px;
}

.btn input[type="button"]:hover {
  background-color: #155026;
}
/* styling for the about page */
.content {
  width: 90%;
  height: 670px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.content img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -1000px;

}
.details  h1{
  color: black;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}
.details h2{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
